body {
	background-color: #1F2C3D;
}

h1 {
	text-align: center;
}

h3 {
	display: inline-block;
	margin-left: 20px;
}

.navbar {
	margin-bottom: 5px;
	background-color: #2E3444;
}

.navbar-brand {
	text-align: center;
	color: white;
}

input[type='radio'], input[type='checkbox'] {
	display:none;
}

.banner-bg {
	height: 230px;
	background-color: #2E3444;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.logo-container {
	padding: 0px;
}

.main-container {
	background-color: #FFFDFF;
	display: inline-block;
	margin-bottom: 50px;
}

#logo {
	width: 100%
}

#pizza-submit {
	float:left;
}

#cart-container {
	float: right;
	color: #333333;
	background-color: #FFFDFF;
	min-height: 600px;
	margin-right: 20px;
	position: relative;
	padding-bottom: 50px;
}

#cart-container h3 {
	position: absolute;
	bottom: 0;
	left: 50px;
	margin-top: 20px;
}

#veggie-select {
	margin-bottom: 20px;
}

.pizza {
	margin: auto;
	color: #333333;
	display: block;
}

p {
	margin-bottom: 2px;
	font-size: .85em;
}

li {
	list-style-type: none;
}

.cart-pizza:hover {
	border-bottom: 2px solid #2E3444;	
	transition: all ease-in-out .1s;
}

label {
	display: inline-block;
	background-color: #FFFDFF;
	padding: 10px 20px;
	font-family:Arial;
  font-size: 16px;
  border-radius: 2px;
}

label:hover {
  background-color: #dfd;
}

input:checked + label { 
    background-color:#E3AC1B;
    color: white;
}

form {
	margin-bottom: 20px;
}

.pizza:focus { 
	outline: none !important;
} 